$draculaBackgroundColor: #282A36;
$draculaCurrentLineColor: #44475A;
$draculaForegroundColor: #F8F8F2;
$draculaCommentColor: #6272A4;
$draculaCyanColor: #8BE9FD;
$draculaGreenColor: #50FA7B;
$draculaOrangeColor: #FFB86C;
$draculaPinkColor: #FF79C6;
$draculaPurpleColor: #BD93F9;
$draculaRedColor: #FF5555;
$draculaYellowColor: #F1FA8C;
